<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>EAB-MODEL</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Black</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <center>
    <img src="../assets/logo/logo.png" id="app-logo" height="200" width="200" alt="">
  </center>

  <div id="container">
    
    
  
    <!-- Correo Elctronico textbox-->
    <ion-item>
      <ion-label position="stacked">Correo:</ion-label>
      <ion-input 
        inputmode="email"
        placeholder="Ingrese el correo electronico">
      </ion-input>
    </ion-item>
    <!-- Password TextBox-->
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input 
        clearOnEdit="false"
        type="password"
        placeholder="Escriba su contraseña">
      </ion-input>
    </ion-item>
    <!-- Botones -->
    <ion-button>Iniciar Sesion</ion-button>
    <ion-button>Registrarse</ion-button>

    <div class="login-footer">
      <p>
        <a href="#">¿Contraseña olvidada?</a>
        Si eres un usuario nuevo, puedes registrarte con el botón de abajo.
      </p>
    </div>
  
  
  </div>
   
  
</ion-content>
